$color-green: rgba(110, 224, 140, 0.9);
$color-white-green: #9af5b2;
$color-blue: #58eddc;
$color-wite-blue: #9ef7ed;
$color-pink: #e65ead;
$color-white-pink: #eb96c7;
$color-grey: #d9cad2;
$color-orange: #f0b975;
$color-white-orange: #edcba1;
$color-dark: #222623;
