@import "../../../assets/style/variables.scss";
.btn {
  font-size: 20px;
  line-height: 27px;
  padding: 14px 18px;
  color: #fff;
  background-color: $color-grey;
  border-radius: 7px;
  transition: 0.4s;
  font-weight: 700;
  border: 2px solid transparent;

  &.outlined {
    border: 2px solid $color-grey;

    &:hover {
      background-color: $color-grey;
    }
  }

  &:hover {
    border-radius: 12px;
    background-color: $color-dark;
  }

  &_green {
    background-color: $color-green;
    &.outlined {
      border: 2px solid $color-green;
    }

    &:hover {
      background-color: $color-white-green !important;
    }
  }

  &_orange {
    background-color: $color-orange;
    &.outlined {
      border: 2px solid $color-orange;
    }

    &:hover {
      background-color: $color-white-orange !important;
    }
  }

  &_blue {
    background-color: $color-blue;

    &.outlined {
      border: 2px solid $color-blue;
    }

    &:hover {
      background-color: $color-wite-blue !important;
    }
  }

  &_pink {
    background-color: $color-pink;

    &.outlined {
      border: 2px solid $color-pink;
    }

    &:hover {
      background-color: $color-white-pink !important;
    }
  }

  &.disabled {
    cursor: auto;
    opacity: 0.8;

    &:hover {
      border-radius: 7px;
    }

    &.outlined {
      &.outlined:hover {
        background-color: transparent !important;
      }
    }
  }

  &.outlined {
    background-color: transparent;
    color: $color-dark;
  }
}
